/* 
font-family: 'Rock Salt', cursive;
font-family: 'Open Sans', sans-serif;
font-family; 'Loved by the King', cursive;
*/

/*NAV IS HERE*/

nav ul li {
    font-family:'Open Sans', sans-serif;
        list-style-type: none;
        float:inherit;
     margin-left: auto;
        margin-right: center;
        text-align: center;
     display: block;
    float: left;
    font-family:'Open Sans', sans-serif;  
    
}

nav ul li a hover {
    list-style-type: none;
    padding: 0em 2em;
    text-decoration: none;
    color: #6A6A6A;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
    text-align: center;
    font-family:'Open Sans', sans-serif;    
    font-size: 2em;
    position: relative;
    position: absolute;
    top: 5px;
    display: inline;
    justify-content: center;
    text-decoration: none;
}
    
    nav ul li {
        text-align: center;
        padding-left: 7em;
        padding-right: 7em;
        align-content: center;
        font-family:'Open Sans', sans-serif;
        display: inline;
        list-style-type: none;
        color: #6A6A6A;
        text-decoration:none;
        font-size: 10px;
 }

a {
    color: #6A6A6A;
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
    }

/*INDEX IS HERE*/
.header{
    text-align: center;
    color: black;
}

span {
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
}


.information {
    font-family: 'Open Sans', sans-serif;
    font-size: .5em;
    position: relative;
    top: -.7em;
}

h2.title {
    font-size: 5em;
    font-family: 'Open Sans' sans-serif;
}

a.title:link {
    color: white;
    text-decoration: none;
    position: relative;
    padding top: 110px;
    min-height: 300px;
}

a.title:visited {
    color: white;
    text-decoration: none;
}

a.title:hover {
    color: white;
    text-decoration: none;
}

a.title:active {
    color: white;
    text-decoration: none;
}

h2 {
    position: relative;
    top: -2.1em;
    text-align: center;
    padding:inherit;
}

div.me {
  position: relative;
  background: url(../images/yellow1.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Loved by the King", cursive;
}

div.capstone {
  position: relative;
  background: url(../images/yellow2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Loved by the King", cursive;
}

div.work {
  position: relative;
  background: url(../images/yellow3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Loved by the King", cursive;
}

div.resume {
  position: relative;
  background: url(../images/yellow4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Loved by the King", cursive;
}

div.awards {
  position: relative;
  background: url(../images/yellow5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Loved by the King", cursive;
}

footer {
 font-family: "Open Sans", sans-serif;
 font-size: .8em;
 text-align: center;
}

/*ABOUT ME STARTS HERE*/

div.mainme {
    background: url(../images/number1.jpg) no-repeat;
    background-size:cover;
    width: 1024px;
    height: 758px;
    margin-left: auto;
    margin-right: auto;
    }

h1.h1me {
    font-family: 'Rock Salt',sans-serif;
    font-size: 70px;
    text-align: center;
    position: relative;
    top: -50px;
}

p.meinfo {
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    position: relative;
    top: -110px;
}

/*SENIOR CAPSTONE STARTS HERE*/

div.maincapstone {
  position: relative;
  background: url(../images/number2.jpg) no-repeat;
  background-size:cover;
    width: 1024px;
    height: 758px;
    margin-left: auto;
    margin-right: auto;
}

h1.h1capstone {
    font-family: 'Rock Salt',sans-serif;
    font-size: 70px;
    text-align: center;
    position: relative; 
    top: -50px;
}

p.capstoneinfo {
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    position: relative;
    top: -110px;
}


/*MY WORK STARTS HERE*/

div.mainwork {
  position: relative;
  background: url(../images/number4.jpg) no-repeat;
background-size:cover;
    width: 1280px;
    height: 684px;
    margin-left: auto;
    margin-right: auto;
}

h1.h1work {
    font-family: 'Rock Salt',sans-serif;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -50px;
}

p.workinfo {
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    position: relative;
    top: -100px;
}

h2.workinfo {
     font-family: 'Loved by the King',cursive;
    font-size: 50px;
    text-align: center;
    color: black;
    position: relative;
    top: -110px;
}

h3.summary {
    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    text-align: center;
    color: black;
    position: relative;
    top: -150px;
}

div.potrait {
     background: url(../images/self.png) no-repeat;
  background-size:cover;
    width: 572px;
    height: 703px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;

}

div.tokyo {
     background: url(../images/girl%20again%20because%20we%20need%20like%202000%20scenes%20of%20her.png) no-repeat;
  background-size:cover;
    width: 572px;
    height: 703px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.banner1 {
     background: url(../images/banner1.png) no-repeat;
  background-size:cover;
    width: 159px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.banner2 {
     background: url(../images/banner2.png) no-repeat;
  background-size:cover;
    width: 596px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.banner3 {
     background: url(../images/banner3.png) no-repeat;
  background-size:cover;
    width: 160px;
    height: 615px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site1 {
     background: url(../images/chile.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 814px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site2 {
     background: url(../images/clima.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 769px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site3 {
     background: url(../images/comida.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site4 {
     background: url(../images/ubi.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site5 {
     background: url(../images/vaca.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.app {
      background: url(../images/co.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.livit {
        background: url(../images/Liv.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.fair {
        background: url(../images/toz.PNG) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.spread {
    background: url(../images/July.png) no-repeat;
  background-size:cover;
    width: 960px;
    height: 639px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
    
}



/*RESUME STARTS HERE*/

div.mainresume {
  position: relative;
  background: url(../images/number3.jpg) no-repeat;
background-size:cover;
    width: 1024px;
    height: 758px;
    margin-left: auto;
    margin-right: auto;
}

h1.h1resume {
 font-family: 'Rock Salt', sans-serif;
    font-size: 60px;
    text-align: center; 
    position: relative;
    top: -50px;
    }

h2.titles {
    font-family: 'Loved by the King', cursive;
    font-size: 50px;
    position: relative;
    top:-170px;
}

p.extra {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    position: relative;
    top: -160px;
    font-size: 20px;
}

a.email {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    position: relative;
    top: -5px;
    font-size: 20px;
}


/*AWARDS STARTS HERE*/

div.mainawards {
  position: relative;
  background: url(../images/new4.jpg) no-repeat;
    background-size:cover;
    width: 1334px;
    height: 714px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -.99em;
}

h1.h1awards {
    font-family: 'Rock Salt',sans-serif;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -50px;
}


h2.awardsinfo {
    font-family: 'Loved by the King',cursive;
    font-size: 30px;
    text-align: center;
    color: black;
    position: relative;
    top: -110px;
}

div.illustrator {
  background: url(../images/illustrator.png) no-repeat;
  background-size:cover;
    width: 1245px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px
}

div.photoshop {
     background: url(../images/photoshop.png) no-repeat;
  background-size:cover;
    width: 1245px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px
}

div.journalism {
    background: url(../images/journalism.png) no-repeat;
  background-size:cover;
    width: 1245px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px
}



 



