/* 
font-family: 'Rock Salt', cursive;
font-family: 'Open Sans', sans-serif;
font-family; 'Loved by the King', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Droid Serif', serif;
*/

/*NAV IS HERE*/

nav ul li {
    font-family:'Droid Serif', serif;
        list-style-type: none;
        float:inherit;
     margin-left: auto;
        margin-right: center;
        text-align: center;
     display: block;
    float: left;
    font-family:'Droid Serif', serif;  
    
}

nav ul li a hover {
    list-style-type: none;
    padding: 0em 2em;
    text-decoration: none;
    color: #6A6A6A;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
    text-align: center;
    font-family:'Droid Serif', serif;    
    font-size: 2em;
    position: relative;
    position: absolute;
    top: 5px;
    display: inline;
    justify-content: center;
    text-decoration: none;
}
    
    nav ul li {
        text-align: center;
        padding-left: 7em;
        padding-right: 7em;
        align-content: center;
        font-family:'Droid Serif', serif;
        display: inline;
        list-style-type: none;
        color: #6A6A6A;
        text-decoration:none;
        font-size: 10px;
 }

a {
    color: #6A6A6A;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    }

/*INDEX IS HERE*/
.header{
    text-align: center;
    color: black;
}

span {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 2.5em;
    
}


.information {
    font-family: 'Droid Serif', serif;
    font-size: .5em;
    font-style: italic;
    position: relative;
    top: -.em;
}

h2.title {
    font-size: 5em;
    font-family: 'Droid Serif' serif;
}

a.title:link {
    color: white;
    text-decoration: none;
    position: relative;
    padding top: 110px;
    min-height: 300px;
}

a.title:visited {
    color: white;
    text-decoration: none;
}

a.title:hover {
    color: white;
    text-decoration: none;
}

a.title:active {
    color: white;
    text-decoration: none;
}

h2 {
    position: relative;
    top: -2.1em;
    text-align: center;
    padding:inherit;
}

div.me {
  position: relative;
  background: url(../images/yellow1.JPG)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Dawning of a New Day", cursive;
}

div.capstone {
  position: relative;
  background: url(../images/yellow2.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Dawning of a New Day", cursive;
}

div.work {
  position: relative;
  background: url(../images/yellow3.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Dawning of a New Day", cursive;
}

div.resume {
  position: relative;
  background: url(../images/yellow4.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Dawning of a New Day", cursive;
}

div.awards {
  position: relative;
  background: url(../images/yellow5.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Dawning of a New Day", cursive;
}

footer {
 font-family: "Droid Serif", serif;
 font-size: .8em;
 text-align: center;
}

/*ALL INFO*/
h1.h1me {
    font-family: 'Dawning of a New Day',cursive;
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -90px;
}

p.meinfo {
    font-family: 'Droid Serif',serif;
    font-size: 20px;
    text-align: center;
    color: black;
    position: relative;
    top: -120px;
}

/*ABOUT ME STARTS HERE*/

div.mainme {
    position: relative;
  background: url(../images/yellow1.JPG)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
     padding-top: 375px;
  min-height: 300px;
    }



/*SENIOR CAPSTONE STARTS HERE*/

div.maincapstone {
    position: relative;
  background: url(../images/yellow2.JPG)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
     padding-top: 375px;
  min-height: 300px;
    }



/*MY WORK STARTS HERE*/

div.mainwork {
  position: relative;
  background: url(../images/yellow3.JPG)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
     padding-top: 375px;
  min-height: 300px;
}

h1.h1work {
    font-family: 'Dawing of a New Day',cursive;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -50px;
}


h2.workinfo {
     font-family: 'Droid Serif',serif;
    font-size: 25px;
    text-align: center;
    color: black;
    position: relative;
    top: -130px;
}


div.potrait {
     background: url(../images/self.png) no-repeat;
  background-size:cover;
    width: 572px;
    height: 703px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;

}

div.tokyo {
     background: url(../images/girl%20again%20because%20we%20need%20like%202000%20scenes%20of%20her.png) no-repeat;
  background-size:cover;
    width: 572px;
    height: 703px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.banner1 {
     background: url(../images/banner1.png) no-repeat;
  background-size:cover;
    width: 159px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.banner2 {
     background: url(../images/banner2.png) no-repeat;
  background-size:cover;
    width: 596px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.banner3 {
     background: url(../images/banner3.png) no-repeat;
  background-size:cover;
    width: 160px;
    height: 615px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site1 {
     background: url(../images/chile.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 814px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site2 {
     background: url(../images/clima.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 769px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site3 {
     background: url(../images/comida.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site4 {
     background: url(../images/ubi.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.site5 {
     background: url(../images/vaca.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.app {
      background: url(../images/co.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.livit {
        background: url(../images/Liv.png) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.fair {
        background: url(../images/toz.PNG) no-repeat;
  background-size:cover;
    width: 1435px;
    height: 771px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.spread {
    background: url(../images/July.png) no-repeat;
  background-size:cover;
    width: 960px;
    height: 639px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.me1 {
   background: url(../images/me1.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.me2 {
   background: url(../images/me2.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.me3 {
   background: url(../images/me3.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.me4 {
   background: url(../images/me4.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.me5 {
   background: url(../images/me5.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.light1 {
   background: url(../images/light1.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.light2 {
   background: url(../images/light2.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.light3 {
   background: url(../images/light3.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}

div.light4 {
   background: url(../images/light4.png) no-repeat;
  background-size:cover;
    width: 1358px;
    height: 763px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}
    



/*RESUME STARTS HERE*/

div.mainresume {
   position: relative;
  background: url(../images/yellow4.JPG)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
     padding-top: 375px;
  min-height: 300px;
}

h1.h1resume {
 font-family: 'Dawning of a New Day', cursive;
    font-size: 60px;
    text-align: center; 
    position: relative;
    top: -50px;
    }

h2.titles {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 50px;
    position: relative;
    top:-170px;
}

p.extra {
    font-family: 'Droid Serif',serif;
    text-align: center;
    position: relative;
    top: -160px;
    font-size: 19px;
}

a.email {
    font-family: 'Droid Serif',serif;
    text-align: center;
    position: relative;
    top: -5px;
    font-size: 15px;
}


/*AWARDS STARTS HERE*/

div.mainawards {
   position: relative;
  background: url(../images/yellow5.JPG)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
     padding-top: 375px;
  min-height: 300px;
}



h2.awardsinfo {
    font-family: 'Droid Serif',cursive;
    font-size: 19px;
    text-align: center;
    color: black;
    position: relative;
    top: -120px;
}

div.illustrator {
  background: url(../images/illustrator.png) no-repeat;
  background-size:cover;
    width: 1245px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px
}

div.photoshop {
     background: url(../images/photoshop.png) no-repeat;
  background-size:cover;
    width: 1245px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px
}

div.journalism {
    background: url(../images/journalism.png) no-repeat;
  background-size:cover;
    width: 1245px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px
}





 



